body {
  font-family: 'Ubuntu', sans-serif;
}
.hr-dark {
  color: #000;
}
.nav, .navbar-default, .navbar-header, .navbar-nav {
  border-right: 1px;
  font-family: 'Ubuntu', sans-serif;
}
.jumbotron {
  background: url("media/GitLab_Pages.png") no-repeat center center;
  height: 900px;
  margin-top: -25px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.floatingbtn {
  position: absolute;
  bottom: 200px;
  border: 2px 2px 2px 2px;
  border-color: #FF8000;
  color: #000;
  background-color: #FFF;
}
#services {
  background-color: #FFF;
  color: #000;
  margin-bottom: 40px;
}
#resources {
  background: url("media/GL_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
  padding-top: 40px;
  padding-bottom: 40px;
}
#how-to-components {
  background-color: #fff;
  color: #000;
  padding-top: 40px;
}
#how-to-build {
  background-color: #fff;
  color: #000;
  padding-top: 40px;
  padding-bottom: 40px;
}
#footer {
  background-color: #000;
  padding-top: 40px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    color: #000;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.heading {
  padding-bottom: 20px;
}
.heading-footer {
  padding-left: 20px;
}
